asgiref==3.2.3
backcall==0.1.0
certifi==2019.11.28
colorama==0.4.3
decorator==4.4.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.5
django-bootstrap-static==4.2.1
gunicorn==20.0.4
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.15.2
parso==0.5.2
pickleshare==0.7.5
Pillow==8.3.2
prompt-toolkit==3.0.2
psycopg2==2.8.4
Pygments==2.5.2
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
static3==0.7.0
traitlets==4.3.3
wcwidth==0.1.8
whitenoise==5.0.1
wincertstore==0.2
